name: 'production'

on:
  workflow_run:
    workflows: ['staging']
    branches: [main]
    types:
      - completed

env:
  KEYSTORE_PW: ${{ secrets.KEYSTORE_PW }}
  KEYSTORE: ${{ secrets.KEYSTORE }}
  SA_JSON_KEY: ${{ secrets.SA_JSON_KEY }}
  ALIAS: ${{ secrets.ALIAS }}
  ALIAS_PW: ${{ secrets.ALIAS_PW }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
  APP_VERSION_NAME: ${{ secrets.APP_VERSION_NAME }}
  FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID_PROD }}
  CI_PIPELINE_ID: ${{ github.run_number }}
  CI_COMMIT_BEFORE_SHA: ${{ github.sha }}
  APP_PACKAGE_NAME: ${{ secrets.APP_PACKAGE_NAME }}
  CI_ENVIRONMENT_NAME: ${{ github.workflow }}
  SEMVER: "true"

jobs:
  prod_firebase:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/cache@v2
        with:
          path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
              ${{ runner.os }}-gradle-
      - run: |
              echo $KEYSTORE | base64 -d -i > /tmp/my-release-key.keystore
              echo $SA_JSON_KEY | base64 -d -i > key_firebase.json
              echo $GOOGLE_SERVICES_JSON | base64 -d -i > app/google-services.json
              git config user.name github-actions
              git config user.email github-actions@github.com
              bundle exec fastlane firebase_distribution
        env:
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID_PROD }}
          BUILD_TASK: "assemble" # Change to bundle if you need aab application
          BUILD_TYPE: "release"
